
<html>
  <body>

    <div class="container">

      <hr>
      <div class="form-group">
         <mat-form-field class="example-full-width" hintLabel="Must be valid Email Id">
          <input matInput
          name="email_id"
          ngModel
          #email_id="ngModel"
          required
          email
          placeholder="Email Id"
          [(ngModel)]="email_id1"
          >
          <mat-error *ngIf="email_id?.hasError('required')">
            email id is required
          </mat-error>

          <mat-error *ngIf="!email_id?.hasError('required')">
            email id is not valid
          </mat-error>
        </mat-form-field>
        <div class="btn-group">
            <!-- <button (click)="onclicklogin()" style="background-color:cornflowerblue;font-size: 30px;">Log In</button> -->
            <button mat-raised-button (click)="onclicksendpassword()" color="primary">Sent Code</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button (click)="onclickcancel()" color="warn">Cancel</button>
      </div>

</div>
</div>
  </body>
</html>
