body
{
  overflow: hidden;
}
.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 90%;
}

.example-full-width {
  width: 90%;
}

.atag
{
  text-align: right;
}


::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
  color: black;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;;
 color:black;
}

