
mat-form-field {
  display: block;
}

mat-card
{
  background: #000;
  color:#fff;
  padding: 50px 20px;
  /* position: absolute; */
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fff !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
  color: #fff;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #fff !important;;
 color:#fff;
}

::ng-deep .mat-form-field-placeholder{

  color:#fff;
}

::ng-deep .mat-focused .mat-form-field-placeholder{

  color:#fff;
}

.avatar
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
  }
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .login_slider
  {
    margin: 2em auto;
  }

}


@media only screen and (min-width:600px)
{
  .image
  {
    background-image: url("../../assets/img/Log_in/Wave.png");
    background-size: cover;
    height: 100vh;
    width: 75%;
    position: fixed;
  }
  mat-card {
    max-width: 400px;
    margin-top: 8em;
    text-align: center;
  }
  .login_slider
  {
    margin-top: 5em;
    width:70%;
    margin-left: 5em;
  }


}






/*
.container
{
  background-image: url(../../assets/img/Log_in/Wave.png);
  background-position: center;
  background-size: cover;

} */

body
{
  overflow: hidden;
}


/* .flex-container {
  display: flex;
  justify-content: flex-end;

}



.flex-container > .login {

  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/*
.img {
  width: 100%;
  height: 43.4em;
  background-image: url('../../assets/img/Log_in/Wave.png');
  background-size: cover;


} */
