<div class="container">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Add Attendance</h4>
              <p class="card-category">Attendance added</p>
            </div>
            <div class="card-body">
              <form class="example-form" (ngSubmit)="onclickAdd()" #f="ngForm">
                <div class="rows">


                  <mat-form-field class="example-full-width">
                    <mat-select (selectionChange)="onbatchSelect()" placeholder="Select Batch" required #Select_Batch="ngModel" name="Select_Batch"
                      [(ngModel)]="Batch_no" class="example-full-width">
                      <mat-option *ngFor="let item of batches" [value]="item.Batch_id">
                        {{item.Batch_name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Select_Batch.hasError('required')">
                      Batch Must be selected
                    </mat-error>
                  </mat-form-field>

                  <section class="example-section" *ngFor="let student of students; let i = index" [attr.data-index]="i">
                  <mat-slide-toggle class="example-margin" color="primary"  (change)="onChange(i)"   checked="chacked">
                    {{student.Name}} {{student.Last_name}}
                  </mat-slide-toggle>
                  </section>



                </div>
                <div class="rows">
                  <button mat-raised-button type="submit" [disabled]="!f.valid" *ngIf="flag1" class="btn">Add Attendance</button>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
