<div class="container">

  <h1>Change Password </h1>

  <hr>
  <div class="form-group">
      <mat-form-field class="example-full-width" hintLabel="Must be valid Email Id">
    <input matInput required  placeholder="Enter Code" #code1="ngModel"  [(ngModel)]="code"  name="code1">
    <mat-error *ngIf="code1?.hasError('required')">
      Code is required
    </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field class="example-full-width" hintLabel="Must be valid Email Id">
    <input matInput required type="password"  placeholder="New Password" #new_password1="ngModel"  [(ngModel)]="new_password"  name="new_password1">
    <mat-error *ngIf="new_password1?.hasError('required')">
      Password is required
    </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field class="example-full-width" hintLabel="Must be valid Email Id">
    <input matInput required type="password" placeholder="Repeat Password" #repeat_password1="ngModel"  [(ngModel)]="repeat_password"  name="repeat_password1">
    <mat-error *ngIf="repeat_password1?.hasError('required')">
      Confirm Password is required
    </mat-error>
    </mat-form-field>
  </div>
  <div class="btn-group">
      <button mat-raised-button (click)="onclickchangepassword()" color="primary">Change Password</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button [routerLink]="['']" routerLinkActive="router-link-active" >Cancel</button>
  </div>

