.absent_class
{
  height: auto;
  width: auto;
  background-color: red;
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  align-items: flex-end;
  font-size: large;
}

.info-card
{
  max-width: 300px;
}



.example-card
{
  max-width: 560px;
  margin: auto auto;
}

.mat-calendar-table-header th
{
  font-size: large;
}

.mat-calendar-body-label
{
  font-size: large;
}

.mat-calendar-body-cell-content
{
  font-size: large;
}

.example-custom-date-class {
  background: red;
  border-radius: 30%;
  font-size: xx-large !important;
}





