<html>
  <body>

    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/img/faculty-icon-png-6.png">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <p class="field">Name : </p>
          </div>
          <div class="col-md-3">
            <p class="value">{{Name}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <p class="field">Email Id : </p>
          </div>
          <div class="col-md-3">
            <p class="value">{{Email_id}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <p class="field">Mobile Number :</p>
          </div>
          <div class="col-md-3">
            <p  class="value">{{Mobile_no}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <p class="field">Qualification :</p>
          </div>
          <div class="col-md-3">
            <p  class="value">{{Qualification}}</p>
          </div>
        </div>



        <div class="row">
          <div class="col-md-3">
            <p class="field">Salary :</p>
          </div>
          <div class="col-md-3">
            <p  class="value">{{Salary}}</p>
          </div>
        </div>






      <div class="row">
        <div class="col-md-3">
          <p class="field">Date of Birth :</p>
        </div>
        <div class="col-md-3">
          <p  class="value">{{Date_of_birth|date}}</p>
        </div>
      </div>




      <div class="rows">
        <button mat-raised-button  (click)="onFaculty_Update()"  class="btn">Update Profile</button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="warn" (click)="onclickCancle()">CANCEL</button>
    </div>
    </div>
    </div>



  </body>
</html>
